<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>pendo-pairing</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pendo-1bc093c5</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>GothamRoundedBold.ttf</string>
		<string>GothamRoundedBook.ttf</string>
		<string>GothamRoundedMedium.ttf</string>
		<string>GothamRoundedLight.ttf</string>
		<string>Gotham Rounded Bold.otf</string>
		<string>Gotham Rounded Medium.otf</string>
		<string>Gotham Rounded Light.otf</string>
		<string>Gotham Rounded Light Italic.otf</string>
		<string>Gotham Rounded Medium Italic.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
</dict>
</plist>
