@font-face {
  font-family: GothamRoundedBold;
  src: url("Gotham Rounded Bold.otf");
}

@font-face {
  font-family: GothamRoundedMedium;
  src: url("Gotham Rounded Medium.otf");
}

@font-face {
  font-family: NunitoRegular;
  src: url("Nunito-Regular.ttf");
}

:root {
  --primary-orange: #ff8c00;
  --light-orange: #fef3e9;
  --primary-green: #00a94f;
  --primary-blue: #005da4;
  --light-blue: #edf9fd;
  --anchor-color: #3fbcff;
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
  color: var(--primary-green);
  font-family: GothamRoundedBold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

h4,
.uk-h4,
h5,
.uk-h5 {
  font-family: GothamRoundedMedium, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

p,
div,
span {
  font-family: NunitoRegular, Roboto;
  /* Fallback to sans-serif if AvenirRoman isn't available */
  line-height: 28px;
}

ul,
li,
p {
  color: #000000;
}

a {
  color: var(--anchor-color);
}

.primary-orange {
  color: var(--primary-orange);
}

.primary-green {
  color: var(--primary-green);
}

.primary-blue {
  color: var(--primary-blue);
}

.img-square {
  width: 90px;
  height: 90px;
}

.img-square-fill {
  width: 100%;
}

.bg-light-blue {
  background: var(--light-blue);
}

.bg-light-orange {
  background: var(--light-orange);
}

.rounded {
  border-radius: 12px;
  padding: 16px;
}

.uk-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: none !important;
  width: 100%;
  height: 48px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00a94f;
  color: #ffffff;
  border-radius: 12px;
  font-family: GothamRoundedMedium;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.408px;
}

.uk-button:hover {
  color: #ffffff;
}

tr > td:nth-last-child(2) {
  border-right: 1px solid #dae3d0;
}

.border-box {
  border: 1px solid #dae3d0;
  border-radius: 10px;
  padding-bottom: 0;
}

.li-bottom-border {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dae3d0;
}

.grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: top;
  gap: 16px;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-1-2 {
  grid-template-columns: 1fr 2fr;
  justify-items: start;
}

.flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 16px;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 2;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  text-align: center;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.gap {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.no-styling {
  list-style: none;
}

.arrow-right {
  margin-top: -0.5px;
  margin-left: 8px;
  width: 20px;
  height: 20px;
}

.vertical-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
