@font-face {
    font-family: GothamRoundedBold;
    src: url("Gotham Rounded Bold.otf");
}

@font-face {
    font-family: NunitoRegular;
    src: url("Nunito-Regular.ttf");
}

/** {*/
/*    font-family: GothamRoundedBold, -apple-system,*/
/*    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",*/
/*    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",*/
/*    "Segoe UI Symbol", "Noto Color Emoji" !important;*/
/*}*/

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
    color: #084E06;
    font-family: GothamRoundedBold, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
}

p, div, span {
    font-family: NunitoRegular, Roboto;
    /* Fallback to sans-serif if AvenirRoman isn't available */
    line-height: 28px;
}

a{
    color: #3FBCFF;
}

.uk-button {
    text-transform: none !important;
    width: 147px;
    padding-vertical: 20px;
    background-color: #00A94F;
    color: #ffffff;
    border-radius: 52px;
}

.uk-button:hover {
    color: #ffffff;
}


tr > td:nth-last-child(2){
    border-right: 1px solid #DAE3D0;
}


.border-box{
    border: 1px solid #DAE3D0;
    border-radius: 10px;
    padding-bottom: 0;
}

.li-bottom-border{
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #DAE3D0;
}
